.intro-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    min-height: 100vh;           
}

.profile-pic {
    width: 50vw;              
    height: 100vh;            
    object-fit: cover;        
}

.introContent {
    width: 45vw;              
    height: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.my-button {
    background: white;
    margin: 1rem 0;
    padding: 0.5rem 1rem;       
    border: none;
    border-radius: 2rem;
    font-size: 1rem;            
    font-weight: 500;
    display: flex;              
    align-items: center;        
    gap: 0.5rem;                
    cursor: pointer;
}

.contactIcon {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}
